<!doctype html>
<html lang="en">
    <head>
        <title>Account</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body>
        <div class="form_box">
            <form name="user_info" id="user_info">
                <label for="username">Username</label>
                <input type="">
            </form>
        </div>
    </body>
</html>