<!doctype html>
<html lang="en">
    <head>
        <title>Account</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body>
        <div class="form_box">
            <form name="user_info" id="user_info">
                <label for="username">Username:</label>
                <input type="text" id="username" value="Skase"><br>
                <label for="user_id">UserID:</label>
                <input type="text" id="user_id" value="id"><br>
                <label for="email">Email:</label>
                <input type="text" id="email" value="email"><br>
                <label for="category">Category:</label>
            </form>
        </div>
        <script type="text/javascript" src="/static/js/account.js"></script>
    </body>
</html>