<!doctype html>
<html>
    <head>
        <title>Test</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/login_register.css">
    </head>

    <body>
        <div name="Test" id="test">
        
        </div>
        <div id="snackbar"></div>
        <script type="text/javascript" src="/static/js/apiTest.js"></script>
    </body>
</html>