<!doctype html>
<html>
    <head>
        <title>Logout</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/login_register.css">
    </head>

    <body>
        <form name="logout_form" id="logout_form">
            <button id="logout_button" type="submit">Logout</button>
        </form>
        <div id="snackbar"></div>
        <script type="text/javascript" src="/static/js/logout.js"></script>
    </body>
</html>