<!doctype html>
<html lang="en">
<head>
    <title>Product</title>
    
</head>

<body>
<form >
    <input type="text" id="product" name="product" placeholder="Name" required><br>
    <input type="text" id="prod_desc" name="prod_desc" placeholder="Description" required><br>
    <input type="text" id="prod_category" name="prod_category" placeholder="Category" required><br>

    <input type="text" id="prod_tags" name="prod_tags" placeholder="Put tags and seperate them with comma" required>
    <button id="prod_tag_button">Add Product</button><br>


    <button id="add_product_button">Add Product</button>
</form>
</body>
</html>