<!doctype html>
<html lang="en">
	<head>
	    <title>Product</title>
	    <link rel="stylesheet" type="text/css" href="product.css">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>

	<body>
		<div class="form_box">
			<form name="prod_form" id="prod_form">
			  	<div class="form-group ">
			    	<label for="product">Product</label>
			    	<input type="text" class="form-control" id="product" placeholder="Name">
			  	</div>
			  	<div class="form-group ">
			    	<label for="product_desc">Description</label>
			    	<input type="text" class="form-control" id="product_desc" placeholder="Description">
			  	</div>
			  	<div class="form-group">
			  		<label for="product_tags">Tags</label>
					<div class="container" name="container">
                		<input class="form-control" type="text" id="product_tags" name="product_tags" placeholder="Put tag" >  
                		<button class="btn btn-light" id="cell_add_button">Add Tag Cell</button>
                		<button class="btn btn-light" id="cell_remove_button">Remove Tag Cell</button><br>
            		</div>
            	</div>

			  <div class="form-group ">
			  	<button type="button" id="add_product_button" class="btn btn-light">Add Product</button>
			  </div>

			</form>
		</div>

	</body>
</html>