<!doctype html>
<html lang="en">
<head>
    <title>price</title>
    
</head>

<body>
<form >
    <div>
        <label>Name:</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Description:</label>
        <input type="text" name="description"/>
    </div>
    <div>
        <label>Category:</label>
        <input type="text" name="category"/>
    </div>
    <div>
        <label>Tags:</label>
        <input type="text" name="tags"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
</body>
</html>