body {
	background-image:url(public/pictures/background.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}

.form_box {
    text-align: center;
    margin-top: 15%;
    padding: 10px;
    color:#B8B8B8;
    background-color: rgba(30,30,30, 0.9);
    margin-right:25%;
    margin-left:25%;
}

