@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
    font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image:url(/static/pictures/background.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;

}

.hidden {
	display:none;
}

.editinfo .edit {
    display:none;
}

.noeditinfo .edit {
    display:initial;
}

.noeditinfo .noedit {
    display:none;
}

.kouti {
	color: white;
    position: relative;
	text-align:center;
    width:400px;
	right:0;left:0;
    margin:auto;
    min-height:420px;
    background-color: rgba(30,30,30, 0.9);
    
}