@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
    font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image:url(/static/pictures/background.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;

}

.info-template .edit {
    display:none;
}

.info-template.edit .edit {
    display:initial;
}

.info-template.edit .noedit {
    display:none;
}